<div class="movieslist">
  {{#each movies}}
  <div class="moviedetails">
    <img src="{{this.image}}" alt="">
    <p>{{this.title}}</p>
    <a href="/movie/{{this._id}}">See More</a>
    <br>
  </div>
  {{/each}}
</div>